body,
#root,
.chat-bg {
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.btn-hide {
  border: none;
  background: transparent;
  text-decoration: underline;
  padding: 0;
}

.chat-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.chat-container {
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 15px;
  height: 92%;
  backdrop-filter: blur(7px);
}

.bg-btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.2);
  border: none;
}

.bg-toolbar {
  position: absolute;
  bottom: 80px;
  left: 30px;
  background-color: rgb(255, 255, 255, 0.2);
  height: 465px;
  width: 77px;
  border-radius: 20px;
  border: none;
}

.bg-toolbar button {
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 20px;
}

.send-message-div button,
.send-message-div input,
.my-bg-transparent {
  background-color: rgb(0, 0, 0, 0.5);
  border: none;
  color: white;
}

.my-bg-transparent {
  color: rgb(122, 122, 133);
}

.my-bg-transparent:hover {
  background-color: rgb(0, 0, 0, 0.3);
  color: white;
}

.my-padding {
  padding-bottom: 60px;
}

.border-gray-right {
  border-right: 1px solid rgb(122, 122, 133);
}

.border-gray-bottom {
  border-bottom: 1px solid rgb(122, 122, 133);
}

.avatar {
  height: 44px;
  width: 44px;
  background-color: rgb(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 1.1rem;
}

.avatar-main {
  height: 54px;
  width: 54px;
  background-color: rgb(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 1.4rem;
}

.input-search-user {
  background-color: rgb(0, 0, 0, 0.5);
  border: none;
  color: white;
}

.input-search-user::placeholder {
  color: rgb(122, 122, 133);
}

.btn-search-user {
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(0, 0, 0, 0.5);
  border: none;
  color: rgb(122, 122, 133);
}

.my-btn-outline {
  border-radius: 0px 5px 5px 0px;
}

.btn-search-user:hover {
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
}

.input-search-user::active {
  border: none;
  box-shadow: none;
}

.search-users-modal {
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 5vh;
  text-align: center;
  width: 300px; /* Full width */
  height: 80%; /* Full height */
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.65);
  border-radius: 15px;
}

.search-users-modal button:hover {
  opacity: 60%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.3);
  border-radius: 0 10px 10px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0 10px 10px 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(58, 58, 58);
}

.text-gray {
  opacity: 60%;
}

.contact-div:hover {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 10px;
}

.contact-selected {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.selected-side {
  display: inline;
  width: 4px;
  height: 90%;
  background-color: aliceblue;
  opacity: 90%;
  padding: 0;
  border-radius: 2px;
}

.my-message {
  background-color: rgb(72, 123, 189);
  margin-left: auto;
}

.others-message {
  background-color: rgba(0, 0, 0, 0.35);
}

.chat-message {
  max-width: 320px;
  border-radius: 10px;
  width: fit-content;
}

.height-parent {
  position: relative;
  height: 100%;
  max-height: 100%;
}

.messages-container {
  display: block;
  overflow-y: scroll;
  height: 100%;
  max-height: 82vh;
}
